@model IEnumerable<Class04.Views.Models.Dto.CourseWithStudentsDto>

<h2>All Courses </h2>

<table class="table">

    <thead>
        <tr>
            <th>
                Course Name
            </th>
            <th>
                Students
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>
                    @course.Name
                </td>
                <td>
                    @* //render the partial view *@
                    @await Html.PartialAsync("_PartialStudentsView", course.Students)
                </td>
            </tr>
        }
    </tbody>

</table>