html,
* {
    box-sizing: border-box;

}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}

.hero-img {
    width: calc(100% + 4rem);
    max-width: unset;
    margin: -2rem;
    margin-bottom: 0px;
    height: 160px;
    object-fit: cover;
}

#back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: .5rem 1rem;
    background-color: lightgray;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: lightgray;
    padding: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;

    a {
        display: block;
        margin-bottom: .2rem;
        text-decoration: none;
    }
}

nav h2,
nav h3 {
    padding-top: 3rem;
    color: red;
}

h1,
h2,
h3,
h4 {
    line-height: 2.6rem;
}

main {
    position: relative;
    margin-left: 200px;
    padding: 2rem;
}

blockquote {
    background-color: rgb(239, 239, 239);
    padding: 1rem
}

hr {
    margin: 3rem 0;
}

mark {
    background-color: rgb(231, 218, 218);
    padding: .2rem .4rem;
    margin: -.2rem -.4rem;
    font-weight: 500;
}

small {
    color: gray;
    text-transform: uppercase;
}

li {
    margin-bottom: 1rem;
}


/* responsive  */

.flex-section {
    display: flex;
    gap: 2rem;

    img {
        flex-basis: 40%;
    }

    div {
        flex-basis: 60%;
    }

}

@media screen and (max-width: 1200px) {
    .flex-section {
        flex-direction: column;
        /* color: red !important; */
    }

    img {
        max-width: unset;
    }

    .flex-section img,
    .flex-section div {
        flex-basis: unset;
    }


}