html,  *{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}

p, h1, h2, img{
    padding: 10px;
}

*{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    font-weight: 600;
}

a.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 10px;
    color: white;
    background-color: blue;
    padding: 20px;    
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: inline-block;
}

a:hover{
    background-color: rgb(0, 187, 187);
    &.back-to-top{
        background-color: rgb(4, 63, 190);
    }
}