a:link{
    color: rgb(255, 136, 0);
    text-decoration: none;
}

a:visited{
    color: red;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

.btn{
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: darkorange;
}

.btn:focus{
    outline: 2px solid darkorange;
}

.input-style{
    border: 2px solid gray;
    padding: 5px;
    border-radius: 3px;
}

.input-style:focus{
    border-color: orange;
    box-shadow: 0 0 5px rgba(255, 136, 0, 0.5);
    outline: 2px solid darkorange;
}

/* test  */

td div{
    padding: 10px;
    background-color: lightgray;
}

/* table:has(.change-me-1:hover) .change-me-1 {
    background-color: yellow;
}

table:has(.change-me-2:hover) .change-me-2 {
    background-color: rgb(0, 255, 0);
}

body:has(.change-me-3:hover) .change-me-3 {
    background-color: lightblue;
}

table:has(.change-me-4:hover) .change-me-4 {
    background-color: pink;
} */

div.change-me-1.hovered {
    background-color: yellow;
}