/* FORMS */
/* FORMS */
/* FORMS */


form {
    background-color: var(--main-orange-light);
    border-radius: 1rem;
    padding: 2rem;
}


.form70 {
    width: calc(60% - 2rem);
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 800px) {
    .form70 {
        width: 100%;
        display: block;
        margin-top: 1rem;
    }
}

.contact-us-img {
    width: 30%;
    min-width: 160px !important;
    margin-left: 0;
    vertical-align: middle;
    aspect-ratio: 1/1.3;
    object-fit: contain;
    float: right;
}


input {
    display: block;
    border: none;
    background: var(--font-lighter);
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}


.form {
    display: block;
}

.form-row {
    margin-bottom: 1rem;
}

label {
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
    color: var(--main-brown-2);
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid var(--main-orange-light);
    border-radius: 0.5rem;
    background: white;
    color: var(--font-dark);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    margin-bottom: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--main-orange-2);
}

textarea {
    resize: vertical;
    line-height: 1.5;
}

select {
    cursor: pointer;
}


/* checkbox  */

input[type="checkbox"],
input[type="radio"] {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
    cursor: pointer;
    display: inline-block;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    display: inline-block;
    font-weight: 400;
    margin-left: 0;
    margin-right: 2rem;
    vertical-align: middle;
    cursor: pointer;

}

.contact-form {
    position: relative;
}
