
/* contact us  */

.contact-us-img {
    display: inline-block;
    mix-blend-mode: multiply;
    vertical-align: middle;
}

@media (max-width: 800px) {
    .contact-us-img {
        display: none;
    }
}



/* location  */

.iframe-map {
    width: 60%;
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    min-height: 300px;
    float: right;
    margin-left: 2rem;
}

@media (max-width: 800px) {
    .iframe-map {
        width: 100%;
        float: none;
        margin: 0;
        margin-bottom: 1rem;
    }
}

.width-1>.page-card {
    width: 30%;
    min-width: 180px;
    float: none !important;
    text-align: center;
}

@media (max-width: 800px) {
    .width-1>.page-card {
        width: 100%;
    }
}

/* Social Links */
.social-links {
    text-align: left;
}

.social-links a div {
    display: inline-block;
    background: var(--main-orange-2);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    vertical-align: middle;
    margin: 0 0.5rem;
}

.social-links a:hover div {
    background: var(--orange-saturated);
}

.social-links a div img {
    padding: 0.7rem;
    width: 100%;
    height: auto;
}

.social-links a span {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 2rem;
    vertical-align: middle;
    font-weight: 500;
    color: var(--font-dark);
}

/* Recommendations */

.recommendations-form {
    margin-top: 1rem;
}

.reset-btn {
    background: none;
    color: var(--font-medium) !important;
    margin-left: 1rem;
}

.recommendation-item {
    width: calc(100% / 2 - 2rem);
    float: left;
    background: var(--main-orange-light);
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
    .recommendation-item {
        width: 100%;
        margin: 1rem 0;
    }
}

.recommendation-item h4 {
    margin-top: 0;
    margin-bottom: 0rem;
    color: var(--main-brown-1);
}

.recommendation-item p {
    margin: 0.5rem 0;
}

.rec-author {
    font-style: italic;
    color: var(--font-medium);
}

.rec-place {
    color: var(--font-medium);
}

/* FAQ */
#faq details {
    background: var(--main-orange-lighter);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
}

#faq details h4 {
    cursor: pointer;
    margin: 0;
    font-size: 1.25rem;
}

#faq details p {
    margin: 1rem 0 0 0;
}

#coffee-recommendations details {
    background: var(--main-orange-lighter);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
}

#coffee-recommendations summary h4 {
    cursor: pointer;
    margin: 0;
}

